
.custom {
    background-color: rgb(59, 125, 125);
    color: bisque;
   font: weight 300px;
   text-align: center;
   font-size: 2rem;
   

}
 .section {
    display: flex;
    justify-content: center;
 }
 .col-sm-3 {
    height: 1000px;
    padding-top: 10px;
 }
 .col-9 {
    background-color: rgb(157, 157, 229);
 }
  .main {
    height: 400px;
    max-height: 500px;
   
  }
  .forecast {
    height: 400px;
   
  }
  .form, .cities {
    padding-left: 10px;
  }
  .btn {
    margin: 5px;
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(12, 11, 11);
  }
  .cities {
    margin-left: 10px;
    margin-right: 10px;
    
    display: flex;
    flex-direction: column;
    
  }
  .day{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   max-height: 350px;


  }
  button {
    border-radius: 7px;
   background-color: rgb(187, 181, 181);
   border-color: rgb(250, 237, 237);
   box-shadow:  0 0px  5px white;
   margin-top: 3px;
   color: rgb(246, 250, 215);
  }
  